<p>users works!</p>

<div class="users-app" *ngFor='let user of users'>
    <button class="button" type="button" (click)="logout()" [disabled]="isAllowEdit()" [routerLink]="['/login']">Log
        out</button>
    <span>Email: <input value='{{user.email}}'></span>
    <span>Nickname: <input value='{{user.nickname}}' #nickname></span>
    <span>Password: <input value='{{user.passwords.password}}'></span>
    <span>Confirm Password: <input value='{{user.passwords.confirm}}'></span>
    <span>Phone: <input value='{{user.phone}}'></span>
    <span>Website: <input value='{{user.website}}'></span>
    <span>Agreement: <a href="#"> agreement</a></span>
    <button class="button" type="button" (click)="RemoveUser(user)" [disabled]="isAllowEdit()">Delete</button>
    <button class="edit" type="button" (click)="EditUser()" [disabled]="isAllowEdit()">Edit</button>
</div>