<h3>Cart</h3>
<p>
    <a routerLink="/shipping">Shipping</a>
</p>
<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency }}</span>
    <button class="button" type="button" (click)="RemoveFromCart(item)">Delete</button>
</div>

<button class="button" type="button" *ngIf="IsNotEmpty()" (click)="clearCart()">Clear Cart</button>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label>Name</label>
        <input type="text" required formControlName="name">
    </div>
    <div formGroupName="address">
        <h3>Address</h3>
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>
        <label>
            City:
            <input type="text" formControlName="city">
        </label>
        <label>
            State:
            <input type="text" formControlName="state">
        </label>
        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>
    </div>
    <button class="button" type="submit">Purchase</button>
    <p>
        <button class="button" type="button" (click)="setDefault()">Reset Name</button>
    </p>
</form>

<div>
    <h3>Custumer</h3>
    <p>
        Name: {{name.value}}
    </p>
    <p>
        Address: {{address.value | json}}
    </p>
    <p>
        Form status: {{checkoutForm.status}}
    </p>
</div>

<div>
    <h3>Errors:</h3>
    <!-- {{!address.errors?.zipStatus}} -->
    <div *ngIf='address.invalid && (address.dirty || address.touched)'>
        <div *ngIf='!address.errors?.zipStatus'>
            Zip length sould be less than 3.
        </div>
        <div *ngIf='!address.errors?.cityStatus'>
            Ciy name shouls start with the letter a.
        </div>

    </div>
    <div *ngIf='name.invalid && (name.dirty || name.touched)'>
        <div *ngIf='name.errors.required'>
            Name is required.
        </div>
        <div *ngIf='name.errors.minlength'>
            Name must be at least 4 charachters long.
        </div>
        <div *ngIf='name.errors.forbiddenName?.invalid'>
            Using '{{name.value}}' in name section is forbidden.
        </div>
    </div>
</div>