<h1>Employee Register</h1>

<form [formGroup]='empRegForm' class="register-employee">
    <label>Name: </label>
    <input type="text" formControlName='name'>
    <div *ngIf='name?.invalid && (name.dirty || name.touched)'>
        <div class="General-Error" *ngIf="name.errors?.Required">
            {{name.errors.Required.message}}
        </div>
    </div>
    <label>Salary: </label>
    <input type="text" formControlName='salary'>
    <div *ngIf='salary?.invalid && (salary.dirty || salary.touched)'>
        <div class="General-Error" *ngIf="salary.errors?.Required">
            {{salary.errors.Required.message}}
        </div>
    </div>
    <label>Age </label>
    <input type="text" formControlName='age'>
    <div *ngIf='age?.invalid && (age.dirty || age.touched)'>
        <div class="General-Error" *ngIf="age.errors?.Required">
            {{age.errors.Required.message}}
        </div>
    </div>
    <button type="button" (click)='register(empRegForm.value)'>Register</button>
</form>

