/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
}

.Wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

}
p {
    font-family: "Lato";
  }
  /* Global Styles */
  * {
    font-family: "Roboto", Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  router-outlet + * {
    padding: 0 16px;
  }
  /* Text */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  h1,
  h2 {
    font-weight: lighter;
  }
  p {
    font-size: 14px;
  }
  /* Hyperlink */
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.8;
  }
  /* Input */
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #bdbdbd;
  }
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  .button:hover,
  button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  .button:disabled,
  button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  /* Fancy Button */
  .fancy-button , .favorite {
    background-color: white;
    color: #1976d2;
  }
  .fancy-button i.material-icons , .favorite{
    color: #1976d2;
    padding-right: 4px;
  }

  div .wishlist , .register{
    margin-right: 10px;
  }
  /* Top Bar */
  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
      margin: 0;
    }
  }
  /* Checkout Cart, Shipping Prices */
  .whishlist-item,
  .cart-item,
  .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #eeeeee;
  }

  .input {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #1976d2;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    margin: 0;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    appearance: none;
    background-color: #eeeeee;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
